*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
header {
	width: 100%;
	height: 150px;
	background-color: rgba(94, 41, 154, .8);
	z-index: 2;
    position: relative;
}
header .container {
	position: relative;
}
header .header-black {
	background-color: #000;
	height: 40px;
}
header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px;
}

header .header-black li.clube-01{
	background-position: 0px 0px;
}

header .header-black li.clube-02{
	background-position: -48px 0px;
}

header .header-black li.clube-03{
	background-position: -95px 0px;
}

header .header-black li.clube-04{
	background-position: -140px 0px;
}

header .header-black li.clube-05{
	background-position: -190px 0px;
}

header .header-black li.clube-06{
	background-position: -239px 0px;
}

header .header-black li.clube-07{
	background-position: -288px 0px;
}

header .header-black li.clube-08{
	background-position: -337px 0px;
}

header .header-black li.clube-09{
	background-position: -381px 0px;
}

header .header-black li.clube-10{
	background-position: -428px 0px;
}

header .header-black li.clube-11{
	background-position: -479px 0px;
}

header .header-black li.clube-12{
	background-position: -528px 0px;
}

header .header-black li.clube-13{
	background-position: -578px 0px;
}

header .header-black li.clube-14{
	background-position: -628px 0px;
}

header .header-black li.clube-15{
	background-position: -675px 0px;
}

header .header-black li.clube-16{
	background-position: -722px 0px;
}

header .header-black li.clube-17{
	background-position: -765px 0px;
}
header .header-black li.clube-18{
	background-position: -808px 0px;
}
header .header-black li.clube-19{
	background-position: -852px 0px;
}
header .header-black li.clube-20{
	background-position: -902px 0px;
}
header .header-black li.clube-21{
	background-position: -952px 0px;
}
header .header-black li.clube-22{
	background-position: -1000px 0px;
}
			
header .header-black li a {
	width: 32px;
	height: 32px;
	display: block;
}
header #logotipo {
	position: absolute;
	top: 20px;
	z-index: 3;
}

#menu {
	margin: 12px 0;
}
#menu li {
	display: inline-block;

header .header-black li.clube-01{
	background-position: 0px 0px;
}

header .header-black li.clube-02{
	background-position: -48px 0px;
}

header .header-black li.clube-03{
	background-position: -95px 0px;
}

header .header-black li.clube-04{
	background-position: -140px 0px;
}

header .header-black li.clube-05{
	background-position: -190px 0px;
}

header .header-black li.clube-06{
	background-position: -239px 0px;
}

header .header-black li.clube-07{
	background-position: -288px 0px;
}

header .header-black li.clube-08{
	background-position: -337px 0px;
}

header .header-black li.clube-09{
	background-position: -381px 0px;
}

header .header-black li.clube-10{
	background-position: -428px 0px;
}

header .header-black li.clube-11{
	background-position: -479px 0px;
}

header .header-black li.clube-12{
	background-position: -528px 0px;
}

header .header-black li.clube-13{
	background-position: -578px 0px;
}

header .header-black li.clube-14{
	background-position: -628px 0px;
}

header .header-black li.clube-15{
	background-position: -675px 0px;
}

header .header-black li.clube-16{
	background-position: -722px 0px;
}

header .header-black li.clube-17{
	background-position: -765px 0px;
}
header .header-black li.clube-18{
	background-position: -808px 0px;
}
header .header-black li.clube-19{
	background-position: -852px 0px;
}
header .header-black li.clube-20{
	background-position: -902px 0px;
}
header .header-black li.clube-21{
	background-position: -952px 0px;
}
header .header-black li.clube-22{
	background-position: -1000px 0px;
}
				font-family: "OpenSans";
}
#menu li.search {
	width: 300px;
}
#menu li.search input {
	background-color: #5C2D90;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
}
#menu li.search ::-webkit-input-placeholder {
	color: #fff;	
}
#menu li.search button {
	background: none;
	border: none;
	position: absolute;
    right: 0;
    top: 0;
}
#menu li.search button i {
	font-size: 14px;
	color: rgba(255, 255, 255, .5);
}
#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}
#menu li.search .input-group {
	top: 8px;
}
#banner {
	width: 100%;
	height: 728px;
	position: relative;
	background: url("../img/banner.jpg") no-repeat;
	background-position: 0px -100px;
	top: -130px;
}


#banner h1 {
	transition: 1s;
	color: #fff;
	top: 300px;
	position: relative;
	font-size: 92px;
	text-shadow:2px 2px 2px rgba(0, 0, 0, .45);
	font-family: 'OpenSans-Light';
	margin-left: 50px;
}

#banner h1.efeito{
	color:red;
	font-size: 8em;

}

#banner h1 small {
	font-size: 32px;
	display: block;
	color: #FFF;
	font-family: 'OpenSans';
	font-weight: bold;
}
#news {
	position: relative;
    top: -110px;
}

#news{
	position: relative;
	top: -110px;
}

#news h2{
	color: #5E2899;
	font-family: 'OpenSans';
	font-size: 48px;
	text-transform: uppercase;
	text-align: center;

}

#news hr{
	border: #FDE192 solid 1px;
	background-color: #FDE192;
	width: 200px;
	height: 8px;


}
#thumbnails{
	margin-top: 20px;

}

#thumbnails h3{
	color: #5E2899;
	font-family: 'OpenSans';
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
}
#thumbnails time{
	color: #A6A6A6;
	font-family: 'OpenSans';
	font-size: 18px;


}

#estatisticas{
	background-color: #5E2899;
	width: 100%;
	height: 200px; 
	position: relative;
}	

#estatisticas p{
	color: #FDE192;
	font-family: 'OpenSans';
	font-size: 64px;
	text-align: center;
	margin-top: 36px;
}
#estatisticas p small{
	color: #fff;
	font-family: 'OpenSans-Light';
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	display: block;
}

#call-to-action{
	margin-top: 105px;
	text-align: center;
}

#call-to-action h2{
	color: #5E2899;
	font-family: 'OpenSans';
	font-size: 48px;
	
}

#call-to-action hr{
	border: #FDE192 solid 1px;
	background-color: #FDE192;
	width: 200px;
	height: 8px;
	margin-top: 14px;

}

#call-to-action p{
	font-size: 14px;
	font-family: 'OpenSans';
	margin-top: 60px;
	margin-bottom: 36px;
	color: #656565;
}

#call-to-action .btn{
	min-width: 164px;
    height: 44px;
    line-height: 34px;
    border-radius: 0;

}

#call-to-action .btn-roxo{
	color: #fff;
    background-color: #5E299A;
    border-color: #5E299A;
   
}

#call-to-action .btn-amarelo{
	color: #000;
    background-color: #FDE192;
    border-color: #FDE192;
	
}

#call-to-action .row-max-400{
	min-width: 400px;
	margin: 0 auto;
}

footer{
	margin-top: 110px;
}

footer .row {
	width: 100%;

}

footer .row p{
	line-height: 55px;
	margin-bottom: 0;
}
footer .row-cinza-claro{
	background: #171F26;
	height: 200px;
	
}
 footer .row-cinza-escuro{
 	background: #11171D;
	height: 60px; 
	border-top: #242D37 1px solid;
 }
footer .pull-left{
	font-family: 'OpenSans';
	font-size: 16px;
	color: #666;
	
}

footer .pull-right{
	font-family: 'OpenSans';
	font-size: 16px;
	color: #623291;
	font-weight: bold;
}

footer .logotipo{
	margin-top: 35px;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch{
	margin-top: 25px;
	

}
footer .row-cols h4{
	font-family: 'OpenSans';
	font-size: 16px;
	color: #fff;
	padding-bottom: 17px;
	border-bottom: #242D37 1px solid;
}

footer .row-cols h5{
	font-size: 14px;
	font-family: Arial;
	color: #666;
	margin-bottom: 0;
}

footer .row-cols time{ 
	font-size: 14px;
	font-family: Arial;
	color: #FDE192;

}
footer .col-links a{
	font-size: 14px;
	font-family: Arial;
	color: #fff;

}

footer .col-links .fa{
	margin: 0 6px;
}

footer .col-links i{
	margin: 0 6px;
}

footer .col-get-in-touch a{
	font-size: 14px;
	font-family: Arial;
	color: #666;

}

footer .col-get-in-touch address{
	font-size: 14px;
	font-family: Arial;
	color: #666;
	margin-bottom: 0;

}

footer .col-get-in-touch address span{
	display: inline-block;
}

footer .col-get-in.touch address i{
	position: relative;
	top: -14px;
}
footer .col-get-in-touch i{
	color:  #9B9B9B;
	font-size: 20px;
	margin: 0 6px;
    line-height: 28px;


}

footer .col-get-in-touch p{
	line-height: 20px;
}

footer .fa-map-marker{
	position: relative;
    bottom: 14px;
}

footer .list-socials{
	margin-top: 4px;

}

footer .list-socials li{
	display: inline-block;
}

footer .list-socials a{
	display: block;
	border: #9B9B9B 1px solid;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 14px;
	text-align: center;
	margin-left: 6px;
}
footer .list-socials i{
	font-size: 16px;
	margin: 0;
	

}






